## Python for ML Project : heart_failure_clinical
*Date:* 13/3/2566

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd

In [4]:
import os

In [8]:
os.getcwd()

'C:\\Users\\numtan\\Desktop\\My files\\jupyter'

In [16]:
df = pd.read_csv("heart_failure_clinical_records_dataset.csv")

In [17]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,1

## Split Data

In [27]:
y = df['DEATH_EVENT']
x = df.drop('DEATH_EVENT', axis=1)

(X_train, X_test, y_train, y_test) = train_test_split(x, y, test_size = 0.25,random_state = 22)

In [28]:
X_train.shape # ( row, column )

(224, 11)

## LogisticRegression

In [30]:
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)
print(y_pred)

[0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 1 0
 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 0 0 1
 0]

Model Evaluation

In [32]:
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.7466666666666667

##  DecisionTree

In [33]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

tree_model = RandomForestRegressor()
tree_model.fit(X_train, y_train)

p2 = tree_model.predict(X_test)
print(p2)

[0.75 0.55 0.82 0.16 0.2  0.03 0.14 0.03 0.04 0.96 0.36 0.45 0.15 0.63
 0.02 0.56 0.52 0.44 0.03 0.39 0.14 0.1  0.04 0.45 0.38 0.56 0.75 0.57
 0.46 0.13 0.43 0.03 0.2  0.62 0.5  0.95 0.18 0.06 0.51 0.18 0.42 0.22
 0.23 0.11 0.74 0.01 0.1  0.47 0.17 0.91 0.47 0.19 0.8  0.51 0.05 0.04
 0.23 0.02 0.03 0.95 0.38 0.82 0.27 0.01 0.08 0.03 0.   0.23 0.46 0.64
 0.75 0.62 0.14 0.98 0.44]

Model Evaluation

In [34]:
test_r2 = tree_model.score(X_test, y_test)
print(test_r2)

0.08609772727272758