# Final Project - Analyzing Sales Data

**Date**: 4 Mar 2023

**Author**: Sirikwam Unpanwat

**Course**: `Pandas Foundation`

In [1]:
# import data
import pandas as pd
df = pd.read_csv("sample-store.csv")

In [48]:
# preview top 5 rows
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,loss or profit
0,1,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,1
1,2,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,1
2,3,CA-2019-138688,2019-06-12,2019-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,1
3,4,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,0
4,5,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,1

In [ ]:
# shape of dataframe
df.shape

(9994, 21)

In [3]:
# see data frame information using .info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(15)
memory usage: 1.6+ MB

We can use `pd.to_datetime()` function to convert columns 'Order Date' and 'Ship Date' to datetime.

In [11]:
# example of pd.to_datetime() function
pd.to_datetime(df['Order Date'].head(), format='%m/%d/%Y')

In [2]:
# TODO - convert order date and ship date to datetime in the original dataframe
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%Y')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%m/%d/%Y')

In [37]:
import numpy as np

In [36]:
# TODO - count nan in postal code column
df.groupby('Postal Code')['Postal Code'].agg(['count'])

,count
Postal Code,
1040.0,1
1453.0,6
1752.0,2
1810.0,4
1841.0,33
...,...
98502.0,5
98632.0,3
98661.0,5
99207.0,7
99301.0,6

In [45]:
# TODO - filter rows with missing values
# df.isna().sum() find out column with na value
df.isna().sum()
df[ df['Postal Code'].isna() ]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2234,2235,CA-2020-104066,2020-12-05,2020-12-10,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,...,NaN,East,TEC-AC-10001013,Technology,Accessories,Logitech ClearChat Comfort/USB Headset H390,205.03,7,0.0,67.6599
5274,5275,CA-2018-162887,2018-11-07,2018-11-09,Second Class,SV-20785,Stewart Visinsky,Consumer,United States,Burlington,...,NaN,East,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,715.20,3,0.0,178.8000
8798,8799,US-2019-150140,2019-04-06,2019-04-10,Standard Class,VM-21685,Valerie Mitchum,Home Office,United States,Burlington,...,NaN,East,TEC-PH-10002555,Technology,Phones,Nortel Meridian M5316 Digital phone,1294.75,5,0.0,336.6350
9146,9147,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,99.98,2,0.0,42.9914
9147,9148,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,OFF-AR-10003477,Office Supplies,Art,4009 Highlighters,8.04,6,0.0,2.7336
9148,9149,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,OFF-ST-10001526,Office Supplies,Storage,Iceberg Mobile Mega Data/Printer Cart,1564.29,13,0.0,406.7154
9386,9387,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,79.92,4,0.0,37.5624
9387,9388,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.28,1,0.0,5.7716
9388,9389,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-AP-10000828,Office Supplies,Appliances,Avanti 4.4 Cu. Ft. Refrigerator,542.94,3,0.0,152.0232
9389,9390,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,2.04,1,0.0,0.9588
9741,9742,CA-2018-117086,2018-11-08,2018-11-12,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,...,NaN,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.90,5,0.0,1013.1270

## Data Analysis Part

Answer 10 below questions to get credit from this course. Write `pandas` code to find answers.

In [5]:
# TODO 01 - how many columns, rows in this dataset
col = df.columns.__len__()
row = df.__len__() - 1

print(f"col = {col}, row = {row}")

col = 21, row = 9993

In [49]:
# TODO 02 - is there any missing values?, if there is, which colunm? how many nan values?
df.isna().sum()

In [50]:
# TODO 03 - your friend ask for `California` data, filter it and export csv for him
california = df[ df['State']=='California' ]
california.to_csv("california_result.csv")

In [51]:
# TODO 04 - your friend ask for all order data in `California` and `Texas` in 2017 (look at Order Date), send him csv file
#df[ (df['Order Date'] >= '2017-1-01') & (df['Order Date'] <= '2017-12-31') ]

df2 = df[ ((df['State']=='California') | (df['State']=='Texas')) & ((df['Order Date'] >= '2017-1-01') & (df['Order Date'] <= '2017-12-31')) ]
df2.to_csv("california_and_texas_in_2017_result.csv")

In [52]:
# TODO 05 - how much total sales, average sales, and standard deviation of sales your company make in 2017
df2017 = df[ (df['Order Date'] >= '2017-1-01') & (df['Order Date'] <= '2017-12-31') ]
print(f"total sales = {df2017['Sales'].sum()}, AVG = {df2017['Sales'].mean()}, STD = {df2017['Sales'].std()}")

total sales = 484247.4981, AVG = 242.97415860511794, STD = 754.0533572593683

In [19]:
# TODO 06 - which Segment has the highest profit in 2018
#df[df['Order Date'].dt.strftime('%Y') == '2018']
#df['Profit'].max()
df[df['Order Date'].dt.strftime('%Y') == '2018'].groupby('Segment')['Profit'].agg(['max']).sort_values(['max'], ascending= False )

,max
Segment,
Consumer,3177.4750
Corporate,2302.9671
Home Office,1906.4850

In [17]:
# TODO 07 - which top 5 States have the least total sales between 15 April 2019 - 31 December 2019
df[ (df['Order Date'] >= '2019-4-15') & (df['Order Date'] <= '2019-12-31') ].groupby('State')['Sales'].agg(['sum']).sort_values(['sum'], ascending= False ).head()

,sum
State,
California,105632.9565
New York,56873.9340
Texas,31114.3390
Pennsylvania,28207.2940
Michigan,26675.8110

In [11]:
# TODO 08 - what is the proportion of total sales (%) in West + Central in 2019 e.g. 25% 
# https://stackoverflow.com/questions/28236305/how-do-i-sum-values-in-a-column-that-match-a-given-condition-using-pandas

df2019 = df[df['Order Date'].dt.strftime('%Y') == '2019']
df2019.query(' Region=="West" | Region=="Central" ')['Sales'].sum() / df2019['Sales'].sum()

0.5497479891837763

In [53]:
# TODO 09 - find top 10 popular products in terms of number of orders vs. total sales during 2019-2020

In [19]:
df19_20 = df[ (df['Order Date'].dt.strftime('%Y') == '2019') | (df['Order Date'].dt.strftime('%Y') == '2020') ]

In [22]:
df19_20.groupby('Product Name')['Sales'].agg(['count','sum']).sort_values(['count'], ascending= False ).head(10)

,count,sum
Product Name,,
Easy-staple paper,27,1481.728
Staples,24,462.068
Staple envelope,22,644.936
Staples in misc. colors,13,357.164
Staple remover,12,204.512
Storex Dura Pro Binders,12,176.418
Chromcraft Round Conference Tables,12,7965.053
"Global Wood Trimmed Manager's Task Chair, Khaki",11,2793.086
Avery Non-Stick Binders,11,122.128
Staple-based wall hangings,10,233.392

In [ ]:
# TODO 10 - plot at least 2 plots, any plot you think interesting :)

In [36]:
from lets_plot import * 
ggplot() + \
geom_bar(aes(x="Region", y="..count..", color="Segment", fill="Segment"), data=df, sampling="none" if df.size < 50 else sampling_pick(n=50)) + \
ggtitle("totals orders of each region categorize by segment")

In [39]:
from lets_plot import * 
ggplot() + \
geom_bar(aes(x="Sub-Category", y="..count.."), data=df, sampling="none" if df.size < 50 else sampling_pick(n=50)) + \
ggtitle("Total orders of each category")

In [47]:
# TODO Bonus - use np.where() to create new column in dataframe to help you answer your own questions
import numpy as np
df['loss or profit'] = np.where( df['Profit']>=0, 1, 0)
df.groupby(['Category', 'Sub-Category','Product Name'])['loss or profit'].agg(['count','sum'])
# count = total order time vs sum = total number of profitable oder